
.transaction-history {
    border-radius: 5px;
    font-weight: normal;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.transaction-history th,
.transaction-history td {
    padding: 10px 20px;
    font-size: 13px;

    font-family: Verdana, sans-serif;
    border: 1px solid #c0bfbf;
    vertical-align: top;
}
.transaction-history td {
text-align: center;
}

.transaction-history th {
    color: #FFF;
    background: #47a9ff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.transaction-history tr:nth-child(even) {
    background: #e2e2e2;
}


